.container{
    width: 800px;
    margin: 90px;
    padding: 65px;
    background: linear-gradient(to right,#74b9ff,#a29bfe);
    border-radius: 35px;
    box-shadow: 0 5px 20px rgba(235, 123, 123, 0.1);
}
.container h1{
    text-align: center;
    margin-bottom: 10px;
}
.container p{
    text-align: center;
    margin-bottom: 25px;
}
.container form{
    display: flex;
    flex-direction: column;
}
.container label{
    margin-bottom: 6px;
    font-weight: bold;
}
.container input,
.container select,
.container textarea{
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    font-size: 15px;
}
.container input:focus,
.container select:focus,
.container textarea:focus{
    outline: none;
    border-color:black;
}
.batan{
    padding: 13px;
    border: none;
    border-radius: 8px;
    background: #2583ed;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: #eef7ff;
}